<a href="https://www.linkedin.com/in/zoharmuzafi" target=" "><i class="ion-social-linkedin"></i></a>
<a href="https://github.com/zoharmuzafi" target=" "><i class="ion-social-github"></i></a>
<a href="mailto:zohar.muzafi@gmail.com?Subject=Hi Zohar&amp;Body=I Just wanted to say Hi" title="title"><i class="ion-email"></i></a>