body{
	
	font-family: 'PT Sans', sans-serif;
	
	max-width: 100%;
    overflow-x: hidden;
}
#details{
	background-color: #676565;
	color: white;
	padding-top: 4%;
	position: fixed;
	font-family: 'Oswald', sans-serif;
}
#name{
	border-bottom: 1px solid white;
	margin-bottom: 10%;
	padding-bottom: 10%; 
}
#me{
	border-radius: 50%;
	width: 50%
}
.infoButton{
	margin-top: 10%;
}
#linkedin{
	width: 20%;
	padding-right: 2%;
}
#github{
	width: 20%;
	border-radius: 50%;
}
#social{
	margin-top: 10%;
	margin-bottom: 80%;
}
article{
	margin-top: 30%;
	font-family: 'PT Sans', sans-serif;
	margin-bottom: 50%;
}
span{
	font-size: 20px;
}
.skills>ul{
	list-style: none;
	padding: 0;
	color: black;
}
.content.relative{
	 position: relative;
}

.firstTitle{
	color: #47ABC7;
	font-weight: 50;
}
.subTitle{
	color: black;
}
.articleDiv{
	
	background-color: #676565;
	width: 46%;
	margin-left: 20%
}
#article{
	color: white;
	font-family: 'Oswald', sans-serif;
	font-size: 15px;
	padding: 30% 5%;
	color: #47ABC7;
}
#inIcon{
	width: 8%;
}
#gitIcon{
	width: 5.5%;
	margin-right: 0.75%;
}
#mailIcon{
	width: 6.25%
}
#myCarousel{

	margin: 5% 0% 10% 0%;
}
#project{
	margin: 10% 0% 20% 0%;
}
.modal-body
{
	background: #4C9EB5;
	background-size: cover;
}
.messageSent{
	display: none;
}
@media(max-width: 1000px){
	#details{
		position: relative;
	}
	.articleDiv{
	border-radius: 0%;
	background-color: #676565;
	width: 100%;
	margin-left: 20%;
	}
	#article{
		padding-top: 23%;
		font-size: 10px;
	}
	.infoButton{
		margin-top: 1%;
		width: 60%;
	}
	#social{
	margin: 0% 0% 3% 0%;
	}
	#name{
		margin-bottom: 4%;
	}

}



